<div id="surveys">
  <ul>
    <%- @surveys.each do |survey| %>
      <li>
        <%= survey.question %>
        <span class="edit_survey"><%= link_to 'Edit', edit_survey_url(survey) %></span>
      </li>
    <%- end %>
  </ul>
</div>
<%= link_to 'New Survey', new_survey_url %>
    